<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @avhkey.keyname %></h1>
    <a href="<%= url_for :action => :show, :id => @avhkey.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @avhkey.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @avhkey.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="avhkey[keyname]" class="fieldLabel">Keyname</label>
            <input type="text" id="avhkey[keyname]" name="avhkey[keyname]" value="<%= @avhkey.keyname %>" <%= placeholder( "Keyname" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="avhkey[flts]" class="fieldLabel">Flts</label>
            <input type="text" id="avhkey[flts]" name="avhkey[flts]" value="<%= @avhkey.flts %>" <%= placeholder( "Flts" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
