<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @avhkey.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @avhkey.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="avhkey[keyname]" class="fieldLabel">Keyname</label>
            <input type="text" id="avhkey[keyname]" name="avhkey[keyname]" <%= placeholder("Keyname") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="avhkey[flts]" class="fieldLabel">Flts</label>
            <input type="text" id="avhkey[flts]" name="avhkey[flts]" <%= placeholder("Flts") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
