<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @flt.number %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @flt.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Number</div>
            <div class="itemValue"><%= @flt.number %></div>
          </li>
      
          <li>
            <div class="itemLabel">Baseinfo</div>
            <div class="itemValue"><%= @flt.baseinfo %></div>
          </li>
      
          <li>
            <div class="itemLabel">Segment</div>
            <div class="itemValue"><%= @flt.segment %></div>
          </li>
      
          <li>
            <div class="itemLabel">Bunk</div>
            <div class="itemValue"><%= @flt.bunk %></div>
          </li>
      
    </ul>
  </div>

</div>
